In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import Column
from pyspark.sql.functions import *
from datetime import datetime, date

# Start

In [2]:
spark = SparkSession.builder.appName("HelloPySpark").getOrCreate()

In [3]:
print("spark.version ==", spark.version)

spark.version == 3.1.2

# DataFrame

In [4]:
df = spark.createDataFrame([
    (1, 2., 'string1', date(2000, 1, 1), datetime(2000, 1, 1, 12, 0)),
    (2, 3., 'string2', date(2000, 2, 1), datetime(2000, 1, 2, 12, 0)),
    (3, 4., 'string3', date(2000, 3, 1), datetime(2000, 1, 3, 12, 0))
], schema='a long, b double, c string, d date, e timestamp')

In [5]:
df.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  3|4.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

In [6]:
df.printSchema()

root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)
 |-- d: date (nullable = true)
 |-- e: timestamp (nullable = true)

In [7]:
df.dtypes

[('a', 'bigint'),
 ('b', 'double'),
 ('c', 'string'),
 ('d', 'date'),
 ('e', 'timestamp')]

## Selecting and Accessing

In [8]:
df3 = df.withColumn('upper_c', upper(df.c))

In [9]:
df3.show()

+---+---+-------+----------+-------------------+-------+
|  a|  b|      c|         d|                  e|upper_c|
+---+---+-------+----------+-------------------+-------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|STRING1|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|STRING2|
|  3|4.0|string3|2000-03-01|2000-01-03 12:00:00|STRING3|
+---+---+-------+----------+-------------------+-------+

In [10]:
df.withColumn('upper_c', upper(df.c)).show()

+---+---+-------+----------+-------------------+-------+
|  a|  b|      c|         d|                  e|upper_c|
+---+---+-------+----------+-------------------+-------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|STRING1|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|STRING2|
|  3|4.0|string3|2000-03-01|2000-01-03 12:00:00|STRING3|
+---+---+-------+----------+-------------------+-------+

In [11]:
df.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  3|4.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

In [12]:
df.select(col("c")).show()

+-------+
|      c|
+-------+
|string1|
|string2|
|string3|
+-------+

In [13]:
df.filter(df.a == 1).show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
+---+---+-------+----------+-------------------+

## Grouping Data

In [14]:
df2 = spark.createDataFrame([
    ['red', 'banana', 1, 10], ['blue', 'banana', 2, 20], ['red', 'carrot', 3, 30],
    ['blue', 'grape', 4, 40], ['red', 'carrot', 5, 50], ['black', 'carrot', 6, 60],
    ['red', 'banana', 7, 70], ['red', 'grape', 8, 80]], schema=['color', 'fruit', 'v1', 'v2'])

In [15]:
df2.printSchema()

root
 |-- color: string (nullable = true)
 |-- fruit: string (nullable = true)
 |-- v1: long (nullable = true)
 |-- v2: long (nullable = true)

In [16]:
df2.show()

+-----+------+---+---+
|color| fruit| v1| v2|
+-----+------+---+---+
|  red|banana|  1| 10|
| blue|banana|  2| 20|
|  red|carrot|  3| 30|
| blue| grape|  4| 40|
|  red|carrot|  5| 50|
|black|carrot|  6| 60|
|  red|banana|  7| 70|
|  red| grape|  8| 80|
+-----+------+---+---+

In [17]:
df2.groupBy('color').avg().show()

+-----+-------+-------+
|color|avg(v1)|avg(v2)|
+-----+-------+-------+
|  red|    4.8|   48.0|
|black|    6.0|   60.0|
| blue|    3.0|   30.0|
+-----+-------+-------+

## Word Count

In [18]:
lines = spark.read.text("/opt/spark/README.md")

In [19]:
lines.show(10)

+--------------------+
|               value|
+--------------------+
|      # Apache Spark|
|                    |
|Spark is a unifie...|
|high-level APIs i...|
|supports general ...|
|rich set of highe...|
|MLlib for machine...|
|and Structured St...|
|                    |
|<https://spark.ap...|
+--------------------+
only showing top 10 rows

In [20]:
df4 = lines.withColumn("words", split(col("value"), " "))

In [21]:
df4.show(5)

+--------------------+--------------------+
|               value|               words|
+--------------------+--------------------+
|      # Apache Spark|  [#, Apache, Spark]|
|                    |                  []|
|Spark is a unifie...|[Spark, is, a, un...|
|high-level APIs i...|[high-level, APIs...|
|supports general ...|[supports, genera...|
+--------------------+--------------------+
only showing top 5 rows

In [22]:
df4.printSchema()

root
 |-- value: string (nullable = true)
 |-- words: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [23]:
words = lines.withColumn("wordsArray", split(col("value"), " ")).withColumn("words", explode("wordsArray"))
words.show()

+--------------------+--------------------+-----------+
|               value|          wordsArray|      words|
+--------------------+--------------------+-----------+
|      # Apache Spark|  [#, Apache, Spark]|          #|
|      # Apache Spark|  [#, Apache, Spark]|     Apache|
|      # Apache Spark|  [#, Apache, Spark]|      Spark|
|                    |                  []|           |
|Spark is a unifie...|[Spark, is, a, un...|      Spark|
|Spark is a unifie...|[Spark, is, a, un...|         is|
|Spark is a unifie...|[Spark, is, a, un...|          a|
|Spark is a unifie...|[Spark, is, a, un...|    unified|
|Spark is a unifie...|[Spark, is, a, un...|  analytics|
|Spark is a unifie...|[Spark, is, a, un...|     engine|
|Spark is a unifie...|[Spark, is, a, un...|        for|
|Spark is a unifie...|[Spark, is, a, un...|large-scale|
|Spark is a unifie...|[Spark, is, a, un...|       data|
|Spark is a unifie...|[Spark, is, a, un...|processing.|
|Spark is a unifie...|[Spark, is, a, un...|         It|
|Spark is a unifie...|[Spark, is, a, un...|   provides|
|high-level APIs i...|[high-level, APIs...| high-level|
|high-level APIs i...|[high-level, APIs...|       APIs|
|high-level APIs i...|[high-level, APIs...|         in|
|high-level APIs i...|[high-level, APIs...|     Scala,|
+--------------------+--------------------+-----------+
only showing top 20 rows

In [24]:
counts = words.groupBy(col("words")).count()
counts.orderBy(desc("count")).show()

+---------+-----+
|    words|count|
+---------+-----+
|         |   73|
|      the|   23|
|       to|   16|
|    Spark|   14|
|      for|   12|
|        a|    9|
|      and|    9|
|       ##|    9|
|      run|    7|
|       on|    7|
|       is|    7|
|      can|    6|
|       in|    5|
|       of|    5|
|     also|    5|
|       an|    4|
|        *|    4|
|   Please|    4|
|      you|    4|
|including|    4|
+---------+-----+
only showing top 20 rows

In [26]:
output = counts.take(10)
output

[Row(words='[![PySpark', count=1),
 Row(words='online', count=1),
 Row(words='graphs', count=1),
 Row(words='["Building', count=1),
 Row(words='documentation', count=3),
 Row(words='command,', count=2),
 Row(words='abbreviated', count=1),
 Row(words='overview', count=1),
 Row(words='rich', count=1),
 Row(words='set', count=2)]

## SQL

In [ ]:
df2.createOrReplaceTempView("tableA")
spark.sql("SELECT count(*) as count from tableA").show()

In [ ]:
spark.stop()